/* Header */
header {
    background-color: transparent;
    color: white;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--header-index);
}

.tabs {
    padding: .5em;
    text-align: center;
    width: fit-content;
    height: 100%;
    gap: .5em;
    font-size: 1.5rem;
    text-transform: capitalize;
    align-items: flex-end;
}

.tabs > div {
    cursor: pointer;
}

.tabs .active {
    color: grey;
    font-size: 1rem;
}

/* Main */

main {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

main .container {
    overflow-y: auto;
    overflow-x: hidden;
}

.videos-display-screen {
    width: 100%;
    height: 400%;
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.videos-display-screen::-webkit-scrollbar {
    display: none;
}

.video {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    scroll-snap-align: start;
}

.video-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.video-container video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.extra-controls {
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: var(--xl-index);
    background-color: transparent;
    color: white;
    gap: 1em;
    padding: .3em 0;
    padding-right: 5px;
}

.controls svg {
    opacity: 0;
    display: none;
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.controls svg:active {
    transform: scale(.8);
}

.controls svg.active {
    opacity: 1;
    display: inline-block;
}

.profile-image span {
    width: 45px;
    height: 45px;   
    display: inline-block; 
    border-radius: 50%;
    border: 3px solid red;
    position: relative;
}

.profile-image span img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.profile-image span svg {
    position: absolute;
    top: 27px;
    left: 22px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}

.profile-image span svg path {
    background-color: white;
    fill: white;
}

.btns {
    width: 50px;
    height: 50px;
    background-color: transparent;
    position: absolute;    
    opacity: 0;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .2s top linear;
}

.btns.active {
    top: 50%;
    opacity: 1;
}

.btns svg {
    width: 50px;
    height: 50px;
    fill: white;    
}

.btns span {
    opacity: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.video-info {
    max-width: 75%;
    height: fit-content;
    position: absolute;
    bottom: 85px;
    left: 0;
    z-index: var(--xl-index);
    background-color: white;
    padding: .3em;
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
    line-height: 1.1em;
}

p.sound-info .icon {
    width: 25px;
    height: 25px;
}

p.sound-info .icon svg {
    width: 25px;
    height: 25px;
}

.count {
    text-align: center;
    margin: auto;
}

/* Video Comments Section */

.comments-modal {
    display: flex;
    flex-direction: column;
    gap: .5em;
    position: absolute;
    bottom: -30%;
    right: 0;
    z-index: var(--xxl-index);
    background-color: white;
    width: 100%;
    height: 58vh;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    padding: 2em .5em 1em;
    overflow: auto;
}

.comments-modal::-webkit-scrollbar {
    display: none;
}

.comments-modal-header {
    width: 100%;
    height: 35px;
    position: absolute;
    position: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border-bottom: 2px solid black;
    color: black;
}

.comments-modal-header span {
    width: 35px;
    height: 25px;
    cursor: pointer;
}

.comments-modal-header span svg {
    width: 100%;
    height: 100%;
    fill: black;
}

.comments-modal-body {
    background-color: white;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding: .5em;
    margin: auto;
    overflow: auto;
}

.comments-modal-body::-webkit-scrollbar {
    width: 7px;
    background-color: white;
}

.comments-modal-body::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 5px;
}

.comments-modal-body li {
    width: 100%;
    height: fit-content;
    padding: .3em;
    background-color: lightgrey;
    border-radius: .4em;
}

.comments-modal-body li.new-comment {
    background-color: grey;
    color: white;
}

.comment-header {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}

.user-avatar {
    width: 35px;
    height: 35px;
}

.user-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.comment-body {
    width: 100%;
    height: fit-content;
    padding: .3em;
    text-align: left;
}

.modal-closer {
    position: absolute;
    top: 0;
    right: 30%;
    z-index: var(--xxl-index);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 40px;
    height: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid grey;
    background-color: white;
}

.add-comment {
    width: 85%;
    height: 80px;
    max-height: 50px;
    padding: .3em;
    border-radius: .4em;
    background-color: grey;
    position: relative;
}

.send-comment {
    position: absolute;
    top: -7px;
    right: -31px;
    z-index: 2;
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 50%;
    padding: 3px;
    outline: none;
    cursor: pointer;
}

.send-comment:active {
    outline: none;
    transform: scale(.8);
}

.send-comment svg {
    width: 100%;
    height: 100%;
}

.add-comment textarea {
    width: 100%;
    height: 50px;
    max-height: 100%;
    background-color: transparent;
    color: white;
    font-size: 1rem;
    padding: 0.5em;
    overflow-y: auto;
    overflow-x: hidden;
    border: none;
    outline: none;
}

.add-comment textarea:focus {
    outline: none;
}

.add-comment textarea::placeholder {
    color: white;
}

.add-comment textarea::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
}

.add-comment textarea::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 2px;
}

/* Footer */

footer {
    background-color: transparent;
    color: white;
    width: 100%;
    height: 75px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--header-index);
}

.footer-nav {
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.footer-nav li.active a {
    color: white;
}

.footer-nav li a {
    color: lightgrey;
}

.footer-nav li a svg {
    width: 35px;
    height: 35px;
    fill: lightgrey;
}   

.footer-nav li.active a svg {
    fill: white;
}

.footer-nav li:nth-child(3) a svg {
    width: 50px;
    height: 45px;
}